body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.background-people {
  background-image: url('../public/img/background-people.jpeg');
  background-attachment: fixed;
  background-size: cover;
}